@font-face {
  font-family: 'Barlow';
  src: url('barlow.woff2') format('woff2');
  color: #2A4A5C;
}


.container {
  display: flex;
  background-color: #EFF6FF;
  margin: 40px 0 auto;

}

.left {
  display: flex;
  float: left;
  height: 100%;
  width: 55%;
  background-color: #EFF6FF;
}

 .logo {
  position: absolute;
  width: 100px;
  padding: 3%;
  top: 40px;
  left: 65px;
}

.right {
  float: right;
  height: 100%;
  width: 48%;
  background-color: #EFF6FF;
  padding: 5rem 4rem;
}

.tittle {
  font-size: 120%;
  top: 100%; 
  right: -10%;
  color: #7B8A92;
}

.paragraph {
  font-family: 'Barlow', sans-serif;
  color: #96A5B1; 
  right: 360px;
}
 
.tittle2 {
  font-size: 150%;
  width: 60%;
  height: 60%;
  margin-top:10%;
  left: 4%;
  color:#7B8A92;
  line-height: 1.6;
}

.paragraph2 {
  font-family: 'Barlow', sans-serif;
  color: #96A5B1;
  font-size: 120%;
  right: -10%;
}

.or {
  padding: 0%;
  margin-top: 10%;
}


.buttons-container {
  display: flex ;
  width: 60%;
  height: 60px;
  margin-top: 50px;
}

.fb {
  background: #255A9B;
  color: #FFFFFF;
  width: 20%;
  height: 30px;
  margin-right:10%;
}

.in {
  background: #0076B6;
  width: 20%;
  height: 30px;
  font-family: 'Barlow', sans-serif ;
  color: #FFFFFF;
  margin-right:10%
  
}

.inputs {
  display: flex;
  gap: 50px;
  font-family: 'Barlow'sans-serif;
  color: #FFFFFF;
  border: 1px solid #EEEEEE;
}



.create {
  width: 20%;
  height: 45px;
  background: #3698fb;
  border: none;
  color: white;
  border-radius: 20px;
  margin-bottom: 20%;
  margin-top: 10%;
  margin-left: 3%
}